.layout {
  width: 1000px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-500px, -350px);
  border-radius: 12px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}
.container {
  width: 920px;
  display: flex;
}
.side-list {
  width: 280px;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
  background-color: rgb(251, 251, 251);
  z-index: 1;
  position: relative;
  padding-top: 60px;
}
#main-content {
  width: 640px;
  background-color: rgb(243, 243, 243);
}
.search {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}