.message-box {
  height: 100%;
}
.message-box-title {
  height: 60px;
  line-height: 60px;
  padding: 0 24px;
  font-size: 24px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.message-box-content {
  height: 460px;
  padding: 0 12px;
  overflow-y: scroll;
}
.message-box-bottom {
  height: 180px;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}


/* 对话气泡 */
.message-item {
  min-height: 56px;
  display: flex;
}
.message-item-recv {
  justify-content: flex-start;
}
.message-item-send {
  justify-content: flex-end;
}
.message-item-avator {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  background-color: #999;
  margin: 8px;
  color: #fff;
  font-size: 12px;
}
.message-item-detail {
  max-width: 300px;
  margin: 8px;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  white-space: pre-wrap;
}
.message-item-send > .message-item-detail {
  background-color: lightblue;
}


/* 编辑栏 */
.message-sender {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}
.message-sender > textarea {
  width: 620px;
  height: 110px;
  outline: none;
  resize: none;
  border: none;
  padding: 0 10px;
  margin-top: 20px;
  font-size: 16px;
}
.message-sender-submit {
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: #ccc;
  cursor: pointer;
}
.message-sender-submit:hover {
  background-color: lightblue;
  color: #fff;
}